<html>
  
<head>
<title>Search page</title>
<meta charset="UTF-8">
<head>
    <title>Results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
    body{
        font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
        font-size:18px;
        color:#333;
        text-shadow:1px 1px 1px #fff;
        overflow-y:scroll;
    }
    h1{
        font-size:56px;
        text-align:center;
    }
    </style>

</head>

</head>


<body>
<div class="container">
 <div class="jumbotron">


        <table align="center">
        <tr>
            <td align="center"><img src="http://images.r.cruisecritic.com/features/old/deal-glass.jpg"></td>
<br /><br /><br /><br />
        </tr>
<tr><td><br /><br /></td></tr>
        <form method="POST" action="/search/">
        <tr> 
             <td align="center">            
             <input type="text" name="name" id="name" placeholder="Type in the keyword" style="font-size:12pt;height:44px;width:400px;">
             <button type="submit" style="font-size:12pt;height:44px;">Search</button>
             </td> 
        </tr>

        </form>
        <tr><td><br /><br /></td></tr>
        <tr>
            <td align="center"><p style="font-size:12pt;color:gray;">&copy; 2016 Hongshen Yu; Shenwei Chen; Lei Yan</p></td>
        </tr>


        </table>

</div>
</div>
</body>
</html>
